In [1]:
import pandas as pd

In [2]:
# creating series in pandas
data = [1,2,3,4,5]
series = pd.Series(data, index = ["A", "B", "C", "D", "E"])
print(series)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [3]:
# Creating dataframe in pandas
data = {"Name":["Kushal", "Elon", "Jeff", "Richard", "Lary"],
       "Age":[20, 58, 62, 74, 57],
       "Fav_color":["Blue", "Pink", "Green", "White", "Yellow" ]}
df = pd.DataFrame(data)
print(df)

      Name  Age Fav_color
0   Kushal   20      Blue
1     Elon   58      Pink
2     Jeff   62     Green
3  Richard   74     White
4     Lary   57    Yellow

## Data Tranformation: Grouping, Merging Concatenating

In [5]:
# Group by
data = {"Name":["Kushal", "Elon", "Jeff", "Richard", "Lary"],
       "Age":[20, 58, 62, 74, 57],
       "Country":["India", "USA", "Australia", "India", "Japan" ]}
df = pd.DataFrame(data)
grouped_data = df.groupby(['Country'])
print(grouped_data['Age'].mean())

Country
Australia    62.0
India        47.0
Japan        57.0
USA          58.0
Name: Age, dtype: float64

In [7]:
# Merging
data1 = {"Name":["Kushal", "Elon", "Jeff", "Richard", "Lary"],
       "Age":[20, 58, 62, 74, 57]}
data2= {"Name":["Kushal", "Elon", "Jeff", "Richard", "Lary"],
       "Fav_color":["Blue", "Pink", "Green", "White", "Yellow" ]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
merged_data = pd.merge(df1, df2, on='Name')
print(merged_data)

      Name  Age Fav_color
0   Kushal   20      Blue
1     Elon   58      Pink
2     Jeff   62     Green
3  Richard   74     White
4     Lary   57    Yellow

In [8]:
# Concatenate
data1 = {"Name":["Kushal", "Elon", "Jeff"],
       "Age":[20, 58, 62]}
data2= {"Name":["Richard", "Lary"],
       "Age":[74, 57]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
concatenatedData = pd.concat([df1,df2], axis=0)
print(concatenatedData)

      Name  Age
0   Kushal   20
1     Elon   58
2     Jeff   62
0  Richard   74
1     Lary   57